# Cast-service 

apiVersion: apps/v1

kind: Deployment

metadata:

  name: cast-service

spec:

  replicas: {{ .Values.castService.replicaCount }}

  selector:

    matchLabels:

      app: cast-service

  template:

    metadata:

      labels:

        app: cast-service

    spec:

      containers:

        - name: cast-service

          image: '{{ .Values.castService.image.repository }}:{{ .Values.castService.image.tag | default .Chart.AppVersion }}'

          imagePullPolicy: {{ .Values.castService.image.pullPolicy }}

          ports:

            - containerPort: {{ .Values.castService.port }}

          env:

            - name: DATABASE_URL

              value: "{{ .Values.castService.env.DATABASE_URL}}"

            - name: POSTGRES_USER

              value: "{{ .Values.castDb.POSTGRES_USER}}"

            - name: POSTGRES_PASSWORD

              value: "{{ .Values.castDb.POSTGRES_PASSWORD }}"

            - name: POSTGRES_DB

              value: "{{ .Values.castDb.POSTGRES_DB }}"