apiVersion: apps/v1

kind: Deployment

metadata:

  name: movie-service

spec:

  replicas: {{ .Values.movieService.replicaCount }}

  selector:

    matchLabels:

      app: movie-service

  template:

    metadata:

      labels:

        app: movie-service

    spec:

      containers:

        - name: movie-service

          image: '{{ .Values.movieService.image.repository }}:{{ .Values.movieService.image.tag | default .Chart.AppVersion }}'

          imagePullPolicy: {{ .Values.movieService.image.pullPolicy }}

          ports:

            - containerPort: {{ .Values.movieService.port }}

          env:

            - name: DATABASE_URI

              value: "{{ .Values.movieService.env.DATABASE_URI }}"

            - name: CAST_SERVICE_HOST_URL

              value: "{{ .Values.movieService.env.CAST_SERVICE_HOST_URL }}"

            - name: POSTGRES_USER

              value: "{{ .Values.movieDb.POSTGRES_USER }}"

            - name: POSTGRES_PASSWORD

              value: "{{ .Values.movieDb.POSTGRES_PASSWORD }}"

            - name: POSTGRES_DB

              value: "{{ .Values.movieDb.POSTGRES_DB }}"

