# movie-service Database
apiVersion: apps/v1

kind: Deployment

metadata:

  name: movie-db

spec:

  selector:

    matchLabels:

      app: movie-db

  template:

    metadata:

      labels:

        app: movie-db

    spec:

      containers:

        - name: movie-db

          image: {{ .Values.movieDb.image | quote }}

          env:

            - name: POSTGRES_USER

              value: "{{ .Values.movieDb.POSTGRES_USER }}"

            - name: POSTGRES_PASSWORD

              value: "{{ .Values.movieDb.POSTGRES_PASSWORD }}"

            - name: POSTGRES_DB

              value: "{{ .Values.movieDb.POSTGRES_DB }}"

          volumeMounts:

            - name: data

              mountPath: /var/lib/postgresql/data

      volumes:

        - name: data

          persistentVolumeClaim:

            claimName: movie-db-pvc