apiVersion: apps/v1

kind: Deployment

metadata:

  name: nginx

spec:

  replicas: 1

  selector:

    matchLabels:

      app: nginx

  template:

    metadata:

      labels:

        app: nginx

    spec:

      containers:

        - name: nginx

          image: {{ .Values.nginx.image }}

          ports:

            - containerPort: {{ .Values.nginx.port }}

          volumeMounts:

            - name: nginx-config

              mountPath: /etc/nginx/conf.d/default.conf

              subPath: default.conf

      volumes:

        - name: nginx-config

          configMap:

            name: nginx-config

